= form_for(:user, :html => { :class => 'form' }) do |form|
  = hidden_field_tag(:return_to, params[:return_to])

  %p
    = form.label(:login, t('login_page.label.login'))
    = form.text_field(:login)

  %p
    = form.label(:password, t('login_page.label.password'))
    = form.password_field(:password)

  %p
    = form.submit(t('login_page.label.submit'))