%a{name: attribute.name}

%h4
  %i.icon-list.pull-left

  &nbsp;

  = attribute.name

  - if attribute.title?
    %small
      (#{attribute.title})

%ul.unstyled
  %li
    %strong
      Type:

    = attribute.type

  - if attribute.values?
    %li
      %strong
        Values:

      = attribute.values.join(', ')

  - if attribute.min_size?
    %li
      %strong
        Min Size:

      = attribute.min_size

  - if attribute.max_size?
    %li
      %strong
        Max Size:

      = attribute.max_size