%h2
  CMS Statistic

%dl.dl-horizontal
  %dt
    Workspaces:

  %dd
    %span.badge
      = stats.workspaces

%dl.dl-horizontal
  %dt
    Published objects:

  %dd
    %span.badge
      = stats.published_objects

%hr

%dl.dl-horizontal
  %dt
    Websites:

  %dd
    %span.badge
      = stats.websites

%dl.dl-horizontal
  %dt
    Homepages:

  %dd
    %span.badge
      = stats.homepages

%dl.dl-horizontal
  %dt
    Resources:

  %dd
    %span.badge
      = stats.resources

%dl.dl-horizontal
  %dt
    Boxes:

  %dd
    %span.badge
      = stats.boxes