%h2
  CRM Statistic

%dl.dl-horizontal
  %dt
    Contacts:

  %dd
    %span.badge
      = stats.contacts

%dl.dl-horizontal
  %dt
    Accounts:

  %dd
    %span.badge
      = stats.accounts

%dl.dl-horizontal
  %dt
    Mailings:

  %dd
    %span.badge
      = stats.mailings

%dl.dl-horizontal
  %dt
    Events:

  %dd
    %span.badge
      = stats.events

%dl.dl-horizontal
  %dt
    Activities:

  %dd
    %span.badge
      = stats.activities