%h2
  Recently Published CMS Objects

%table.table.table-bordered.table-hover
  %thead
    %tr
      %th
        Title

      %th
        Path

      %th
        Object Class

      %th
        Last Changed

  %tbody
    - recently_published.each do |obj|
      %tr
        %td
          = obj.title

        %td
          = link_to(main_app.cms_id_path(obj.id)) do
            = obj.path

        %td
          = obj.obj_class

        %td
          = time_ago_in_words(obj.last_changed)