%tr
  %td
    = link_to(gem.rubygems_url, target: 'blank') do
      = gem.name

  - class_name = gem.latest? ? 'badge-success' : 'badge-warning'

  %td
    = gem.version

  %td
    %span.badge{class: class_name, title: "Latest Version: #{gem.latest_version}"}
      - if gem.latest?
        &nbsp;
      - else
        = gem.latest_version