%h2
  Helpful Links

%ul
  %li
    = link_to(Rails.configuration.ice_kickstarter.cms_url, :target => :_blank) do
      Infopark CMS GUI

  %li
    = link_to(Rails.configuration.ice_kickstarter.crm_url, :target => :_blank) do
      Infopark CRM GUI

  %li
    = link_to(Rails.configuration.ice_kickstarter.konsole_url, :target => :_blank) do
      Infopark Konsole and Project Management

%hr

%ul
  %li
    = link_to(Rails.configuration.ice_kickstarter.knowledge_base_url, :target => :_blank) do
      Infopark KnowledgeBase

  %li
    = link_to(Rails.configuration.ice_kickstarter.support_url, :target => :_blank) do
      Infopark Support

  %li
    = link_to(Rails.configuration.ice_kickstarter.status_url, :target => :_blank) do
      Infopark SaaS Status Page

  %li
    = link_to(Rails.configuration.ice_kickstarter.github_repository_url, :target => :_blank) do
      Github Repository

  %li
    = link_to(Rails.configuration.ice_kickstarter.github_repository_issues_url, :target => :_blank) do
      Github Repository Issues