!!! 5

%html
  %head
    %meta{charset: 'utf-8'}
    %meta{:'http-equiv' => 'X-UA-Compatible', content: 'IE=Edge,chrome=1'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}

    %title
      ICE Developer Dashboard

    = csrf_meta_tags

    / HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag('http://html5shim.googlecode.com/svn/trunk/html5.js')

    = stylesheet_link_tag('ice_kickstarter/dashboard', media: 'all')
    = stylesheet_link_tag('twitter/bootstrap-responsive', media: 'all')
    = stylesheet_link_tag('ice_kickstarter/print', media: 'print')

  %body
    = render('layouts/ice_kickstarter/dashboard/navigation')

    .container-fluid
      = render('layouts/flash_messages')

      .row-fluid
        .span2
          %ul.nav.nav-list
            %li.nav-header
              Navigation

            = render('layouts/ice_kickstarter/dashboard/nav_link', title: 'Classes & Attributes', path: dashboard_path)

            = render('layouts/ice_kickstarter/dashboard/nav_link', title: 'Editors & Developers', path: people_dashboard_path)

            = render('layouts/ice_kickstarter/dashboard/nav_link', title: 'CMS & CRM Content', path: content_dashboard_path)

            %li.divider

            = render('layouts/ice_kickstarter/dashboard/nav_link', title: 'Help, Links & Updates', path: help_dashboard_path)

        .span10
          = yield

    = javascript_include_tag('application')