.btn-group
  %a.btn
    Workspace:
    = @current_workspace['title']

  %a.btn.dropdown-toggle{:'data-toggle' => 'dropdown'}
    %span.caret

  %ul.dropdown-menu
    - if @workspaces.size > 1
      - @workspaces.each do |workspace|
        - next if workspace['id'] == @current_workspace['id']

        %li
          = link_to("#{request.path}?_rc-ws=#{workspace['id']}") do
            = workspace['title']